[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python src/main.py"
build = "python src/build.py"
version = "python src/version.py"

[packages]
pynput = "*"
keyboard = "*"
pyinstaller = "*"
gitpython = "*"
tomlkit = "*"
pydantic = "*"
pygame-ce = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
